<header class="header">
    <nav class="navbar">
        <div class="navbar-brand">
            <h1><a href="{{ '/' | relative_url }}">Laura Gonzaga</a></h1>
            <p class="tagline">BI & Data Analytics</p>
        </div>
        <ul class="navbar-menu">
            <li><a href="{{ '/' | relative_url }}" class="{% if page.url == '/' %}active{% endif %}">Projetos</a></li>
            <li><a href="{{ '/sobre.html' | relative_url }}" class="{% if page.url == '/sobre.html' %}active{% endif %}">Sobre</a></li>
        </ul>
    </nav>
</header>